{% load static %}

<div class="row question">
    <div class="col-2">
        {% include 'components/user-rating-item.html' %}
    </div>
    <div class="col-10">
        <div class="question-title"><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></div>
        <div class="question-text">{{ question.content }}</div>
        <div class="question-extra">
            <h4 style="display:inline;"><a href="">Answers ({{ question.answers_count }})</a></h4>
            <h4 style="display:inline; margin-left: 10px">Tags:
                {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </h4>
        </div>
    </div>
</div>